ul#menu_horizontal li { 
	display : inline;
	padding : 0 0.5em; /* put some space between the text */
	color:#C5252B;
}

ul#menu_horizontal {
	 list-style-type : none; /*remove the bullet points */
}

#content_page table{
	margin: 0 auto;
}

#content_page td {
	padding-left: 25px;
	padding-right: 25px;
}

#content_page img{
	width: 200px;
	height: 130px;
}