body
{
	/*body background setting*/
	background:FFFFCC;
}
header
{
	/*Header bordure setting*/
	background:white;
	border:3px groove;
	border-color:rgba(124,188,174,0.8);
	height:40px;
}

header h2
{
	/*#Jumper setting */
	font-family: Impact;
	font-size:30px;
	color:#C5252B;
	text-align: center;
	margin-top:5px;
}

header img
{
	/*user profil picture setting */
	position:absolute;
	width: 30px;
	top:17px;
	right: 132px;
}

#user_name
{
	/*user name bordure setting setting */
	font-family: Impact;
	color : black;
	border-radius: 15px;
	border:2px groove;
	border-color:rgba(124,188,174,0.8);
	position:absolute;
	top:14px;
	right: 20px;
	height:30px;
	width:100px;
	background-color: rgba(124,188,174,0.16);
}
#user_name p
{
	/*user name text setting */
	color:gray;
	text-align:center;
	margin-top:4px;
}
section
{
	/*section setting setting */
	background-color: rgba(124,188,174,0.16);
	color:#C5252B;
	font-family: Impact;
	font-size:15px;
	border:3px groove;
	border-color:rgba(124,188,174,0.8); 
	margin-top:1px;
}
#content_page
{
	/*content eg text setting*/
	height:440px;
	text-align:center;
}
footer
{
	/*footer (eg:copyright) setting */
	font-family: Impact;
	text-align:center;
	color:black;
}